Turma de Ciência de Dados, Big Data e Analytics - Introdução à Análise Exploratória

Aula realizada em 17/02/2022

In [1]:
#Começando o nosso notebook colocando o nome da disciplina como mensagem

print('Ciência de Dados, Big Data e Analytics - Introdução à Análise Exploratória')

Ciência de Dados, Big Data e Analytics - Introdução à Análise Exploratória

In [2]:
#Testando se as operações aritméticas básicas estão funcionando

print('Teste de soma: ', 1+1)
print('Teste de produto: ', 1*3)
print('Teste de divisão: ', 4/2)
print('Teste de divisão: ', 1/3)

Teste de soma:  2
Teste de produto:  3
Teste de divisão:  2.0
Teste de divisão:  0.3333333333333333

In [3]:
#Tudo ok por enquanto. Agora vamos calcular algumas medidas
#Vamos definir um conjunto para testes
conjunto1 = [1, 2, 3, 4, 4]

In [4]:
# E vamos usar uma biblioteca muito útil em ciência de dados, que se chama numpy
# Para isso, precisamos importá-la
import numpy as np

In [5]:
# Agora vamos calcular a média dos elementos do conjunto

print('A média dos elementos do conjunto é: ', np.mean(conjunto1))

A média dos elementos do conjunto é:  2.8

In [6]:
# Agora vamos calcular a mediana dos elementos do conjunto

print('A mediana dos elementos do conjunto é: ',np.median(conjunto1))

A mediana dos elementos do conjunto é:  3.0

In [7]:
# Vamos calcular a mediana quando o conjunto tem um número de elementos que é par

print('A mediana é ', np.median([1, 2, 3, 4, 4, 6]))

A mediana é  3.5

In [8]:
# Se mudarmos a ordem dos elementos, acontece o seguinte

print('A mediana é ', np.median([1, 2, 6, 4, 4, 3]))

A mediana é  3.5

In [10]:
# Calculamos o desvio padrão do conjunto
# Na validação, notamos que a fórmula que o numpy usa é diferente da fórmula da apostila

print('O desvio padrão é ', np.std(conjunto1))

O desvio padrão é  1.16619037896906

In [11]:
# Vamos criar nossa primeira matriz da disciplina

matriz1 = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [12]:
# E vamos ver como ela é

matriz1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [13]:
# Agora vamor mudar o tipo dos dados, para float

matriz2 = np.array([[1,2,3],[4,5,6],[7,8,9]], dtype = float)

In [14]:
# E vamos ver como fica, com o novo tipo

matriz2

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

Aula que será realizada em 21/02/2022 - Contém spoiler

In [15]:
# Cálculo de moda de um conjunto
# Ver a documentação da biblioteca - https://docs.python.org/pt-br/3/library/statistics.html 

import statistics

print('A moda do conjunto 1 é', statistics.mode(conjunto1))

A moda do conjunto 1 é 4

In [16]:
# Cálculo do valor máximo de um conjunto

print('O maior valor do conjunto é', max(conjunto1))

O maior valor do conjunto é 4

In [17]:
# Cálculo do valor mínimo de um conjunto

print('O menor valor do conjunto é', min(conjunto1))

O menor valor do conjunto é 1

In [18]:
# Cálculo da variância de um conjunto

print('A variancia do conjunto 1 é', statistics.pvariance(conjunto1))

A variancia do conjunto 1 é 1.3599999999999999

In [19]:
# Cálculo do desvio padrão populacional

print('O desvio padrão populacional é', statistics.pstdev(conjunto1))

O desvio padrão populacional é 1.16619037896906

In [20]:
# Agora calculando o desvio padrão e a variância amostral

print('A variancia amostral é', statistics.variance(conjunto1))
print('O desvio padrão amostral é', statistics.stdev(conjunto1))

A variancia amostral é 1.7
O desvio padrão amostral é 1.3038404810405297

In [21]:
# Trabalhando com pandas e dataframes - https://pandas.pydata.org/

import pandas as pd

In [22]:
# Criando a matriz que vamos usar como testes

matriz1 = pd.DataFrame({
    "A": [100, 2000, 845],
    "B": [ 23,   32,  44],
    "C": [ 41,   56,  12],
    "D": [  1,   12,  18]
})

# Visualizando a matriz
print(matriz1)

      A   B   C   D
0   100  23  41   1
1  2000  32  56  12
2   845  44  12  18

In [23]:
# Removendo colunas

matriz1.drop('D', inplace=True, axis=1)
matriz1

      A   B   C
0   100  23  41
1  2000  32  56
2   845  44  12

In [24]:
# Removendo linhas

matrizSemLinha = matriz1.drop(1)
matrizSemLinha

     A   B   C
0  100  23  41
2  845  44  12

In [48]:
# Tratamento de Dados Nulos

matrizComNulos = pd.DataFrame({
    "A": [100,   2000, 24,    209,    789],
    "B": [ 23, np.nan, 44, np.nan,    897],
    "C": [ 78,     56, 12, np.nan,    456],
    "D": [  1,      4, 18,     67, np.nan],
    "E": [ 34,     56, 78,     89,      0]
})

# Visualizando a matriz
print(matrizComNulos)

      A      B      C     D   E
0   100   23.0   78.0   1.0  34
1  2000    NaN   56.0   4.0  56
2    24   44.0   12.0  18.0  78
3   209    NaN    NaN  67.0  89
4   789  897.0  456.0   NaN   0

In [26]:
# Agora vamos tirar todos os nulos da matriz

matrizSemNulos = matrizComNulos.dropna()
matrizSemNulos

     A     B     C     D   E
0  100  23.0  78.0   1.0  34
2   24  44.0  12.0  18.0  78

In [27]:
# Agora vamos criar um dataframe que substitui os valores nulos por zeros

matrizComZerosAoInvesDeNulos = matrizComNulos.fillna(value='0')
matrizComZerosAoInvesDeNulos

      A      B      C     D   E
0   100   23.0   78.0   1.0  34
1  2000      0   56.0   4.0  56
2    24   44.0   12.0  18.0  78
3   209      0      0  67.0  89
4   789  897.0  456.0     0   0

In [29]:
matrizComMediasAoInvesDeNulos = matrizComNulos.fillna(matrizComNulos.mean(0))
matrizComMediasAoInvesDeNulos

      A           B      C     D   E
0   100   23.000000   78.0   1.0  34
1  2000  321.333333   56.0   4.0  56
2    24   44.000000   12.0  18.0  78
3   209  321.333333  150.5  67.0  89
4   789  897.000000  456.0  22.5   0

In [50]:
############################### VER PROBLEMA AQUI!!! ##############################################
matrizComMediasColunaB = matrizComNulos['B'].fillna(value=matrizComNulos['B'].mean(), inplace=True)
matrizComMediasColunaB

In [37]:
matrizComNulos2 = pd.DataFrame({
    "A": [100,   2000, 24,    209,    789],
    "B": [ 23, np.nan, 44, np.nan,    897],
    "C": [ 78,     56, 12, np.nan,    456],
    "D": [  1,      4, 18,     67, np.nan],
    "E": [ 34,     56, 78,     89,      0]
})

# Visualizando a matriz
print(matrizComNulos2)

      A      B      C     D   E
0   100   23.0   78.0   1.0  34
1  2000    NaN   56.0   4.0  56
2    24   44.0   12.0  18.0  78
3   209    NaN    NaN  67.0  89
4   789  897.0  456.0   NaN   0

In [38]:
# Agora vamos criar um dataframe que substitui os valores nulos por medianas

matrizComMedianaAoInvesDeNulos2 = matrizComNulos2.fillna(matrizComNulos2.median(0))
matrizComMedianaAoInvesDeNulos2

      A      B      C     D   E
0   100   23.0   78.0   1.0  34
1  2000   44.0   56.0   4.0  56
2    24   44.0   12.0  18.0  78
3   209   44.0   67.0  67.0  89
4   789  897.0  456.0  11.0   0

In [40]:
vendasPorFilial = pd.DataFrame({
    "Filial" : ['Recife', 'Recife', 'Fortaleza', 'Fortaleza',  'Natal', 'Natal'],
    "Nome"   : [ 'Aline',   'João',      'José',   'Matheus', 'Melviw', 'Lucas'],
    "Venda"  : [   10987,    19876,       20304,        1345,    56789,    4537]
})

# Visualizando a matriz
print(vendasPorFilial)

      Filial     Nome  Venda
0     Recife    Aline  10987
1     Recife     João  19876
2  Fortaleza     José  20304
3  Fortaleza  Matheus   1345
4      Natal   Melviw  56789
5      Natal    Lucas   4537

In [43]:
# Agrupamento das vendas por filial

group = vendasPorFilial.groupby('Filial')
group.sum()

           Venda
Filial
Fortaleza  21649
Natal      61326
Recife     30863

In [44]:
# Cálculo da média das vendas por filial

group.mean()

             Venda
Filial
Fortaleza  10824.5
Natal      30663.0
Recife     15431.5

In [45]:
# Cálculo de todas as vendas que a Aline fez

group = vendasPorFilial.groupby('Nome')
group.sum().loc['Aline']

Venda    10987
Name: Aline, dtype: int64